// Blue
$primaryBlue : #0d79ec;
$SecondaryBlue : #ffffff;

// Red 
$primaryRed:#fb4653;
$secondaryRed : #17181c;
$thirdRed : #ffffff;
$RedLinear :linear-gradient(to bottom right, #333333 , #121212);

// Purple
$primaryPurple : #3a2d80;
$secondaryPurple : #6957e7;
$thirdPurple : #a763f5;
$fourthPurple : #ffffff;


